svg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.testo {
    transform: translate(94px, 54px);
    font-family: 'Indie Flower', cursive;
    font-size: 45px;
    display: none;
}