<!DOCTYPE html>
<html lang="ita">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planty Checkout</title>

    <link rel="icon" href="Foto/favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!--Vue per il carrello -->
    <script type="text/javascript" lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <!-- Per lo style-->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" type="text/css">
    <!--Menu e footer-->
    <link rel="stylesheet" href="css/Style.css" type="text/css">
    <!--Per le icone sul menu -->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/store.css" type="text/css">

</head>

<script>
    function verificaCarrello(){
        if (count == 0) {
            document.getElementById('ordina').disabled = true;
            document.getElementById('ordina').style.background= "#7fad39a6";
            alert("Il tuo carrello é vuoto! Riempilo, prima di acquistare")
        }

    }

    function invia(){
        window.location='Loader/acquisto.html';
    }


</script>

<body style="background-color: white;" onload="verificaCarrello()">
    <!--Inizio header menu-->

    <div id="app">
        <header class="header clearfix cd-main-header">
            <a href="" class="header__logo"><img src="Foto/Titolo_b.gif" width="300" height="110"></a>

            <nav class="cd-main-nav shop">

                <a href="" class="header__icon-bar">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <!--serve se vogliamo fare la versione mobile introducendo le tre linee per aprire menu-->
                <ul class="header__menu animate cd-main-nav__list js-js-accedi-trigger delete-space">
                    <li class="header__menu__item"><a href="index.php">Home</a></li>
                    <li class="header__menu__item"><a href="index.php#about">Chi siamo</a></li>
                    <li class="header__menu__item"><a href="index.php#features">Come Iniziare</a></li>
                    <li class="header__menu__item"><a href="Le_Tue_Piante.php">Le Tue Piante</a></li>
                    <li class="header__menu__item"><a href="Forum.php">Forum</a></li>
                    <li class="header__menu__item"><a href="Store.html">Shop</a></li>
                    <li class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span id="cuore">0</span></a></li>
                            <li><a href="#" id="cart"><i class="fa fa-shopping-basket"></i> <span>{{count}}</span></a></li>
                        </ul>
                        <div class="header__cart__price">Saldo: <span>{{total()}}€</span></div>
                    </li>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- banner-checkout Section Begin -->
        <section class="banner-checkout">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="banner-checkout__text">
                            <h2>Checkout</h2>
                            <div class="banner-checkout__option">
                                <a href="./index.php">-Home-</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-checkout Section End -->

        <!-- Checkout Section Begin -->
        <section class="checkout spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h6> Hai uno sconto? <a href="#sconto">Clicca qui</a> per inserire il tuo codice
                        </h6>
                    </div>
                </div>
                <div class="checkout__form">
                    <h4>Dettagli</h4>
                    <form action="#" onSubmit="invia()">
                        <div class="row">
                            <!--Form a sinistra-->
                            <div class="col-lg-8 col-md-6">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Nome<span>*</span></p>
                                            <input id="nome_check" type="text" maxlength="12" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Cognome<span>*</span></p>
                                            <input id="cognome" type="text" maxlength="12" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout__input">
                                    <p>Paese<span>*</span></p>
                                    <input id="paese" type="text" maxlength="12" required>
                                </div>
                                <div class="checkout__input">
                                    <p>Indirizzo<span>*</span></p>
                                    <input id="indirizzo" type="text" placeholder="Via/Piazza/Numero civico" class="checkout__input__add" required>
                                    <input type="text" placeholder="Appartamento, scala, interno (opzionali)">
                                </div>
                                <div class="checkout__input">
                                    <p>Città<span>*</span></p>
                                    <input id="città" type="text" maxlength="12" required>
                                </div>
                                <div class="checkout__input">
                                    <p>Regione<span>*</span></p>
                                    <input id="regione" type="text" maxlength="12" required>
                                </div>
                                <div class="checkout__input">
                                    <p>Cap<span>*</span></p>
                                    <input id="cap" type="text" maxlenght="5" pattern="[0-9]{5}" required>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Tel</p>
                                            <input type="text" maxlength="10">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>Email<span>*</span></p>
                                            <input id="email" type="email" maxlength="20" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="acc">
                                    Crea un account?
                                    <input type="checkbox" id="acc">
                                    <span class="checkmark"></span>
                                </label>
                                </div>
                                <p>Per creare un account inserisci il campo password. Verifica di non avere già un account.</p>
                                <div class="checkout__input">
                                    <p>Password</p>
                                    <input type="text">
                                </div>
                                <div class="checkout__input">
                                    <p>Altre note</p>
                                    <input type="text" placeholder="Note sul tuo ordine es. per la consegna">
                                </div>
                            </div>
                            <!--Resoconto ordine-->
                            <div class="col-lg-4 col-md-6">
                                <div class="checkout__order">
                                    <h4>Il Tuo Ordine</h4>
                                    <div class="checkout__order__products">Prodotti<span>Prezzo</span></div>
                                    <ul id="spesa">
                                        <buyitem v-for="buyitem in buyitems" v-bind:buy_data="buyitem"></buyitem>
                                    </ul>
                                    <div class="checkout__order__subtotal" v-if="total()">Subtotale<span>{{total()}}€</span></div>
                                    <div class="checkout__order__sped" v-if="spedizione()">Spedizione<span>{{spedizione()}}€</span></div>
                                    <div class="checkout__order__total">Totale<span>{{tot()}}€</span></div>

                                    <div class="checkout__input__checkbox">
                                        <label for="payment">
                                        Carta
                                        <input type="checkbox" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                    </div>
                                    <div class="checkout__input__checkbox">
                                        <label for="paypal">
                                        Paypal
                                        <input type="checkbox" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                    </div>
                                    <br id="sconto"> Sconto: <input type="text" class="checkout__input sconto" maxlength="8">
                                    <button type="submit" id="ordina" class="primary-btn">ORDINA</button>
                                    <!--onClick="window.location='Loader/loader_acquisto.html';"-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- Checkout Section End -->



    <template id="buy-box">
        <li>{{buy_data.title}} x {{buy_data.qty}}<span>{{buy_data.total}}€</span></li>
    </template>

    <!--Footer-->
    <footer class="footer">
        <div class="row">
            <div class="col-lg-6 col-xs-12 text-lg-left text-center">
                <p class="end-text">
                    “To plant a garden is to believe in tomorrow.” H.A.
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 text-lg-right text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="index.html">Home</a>
                    </li>

                    <li class="list-inline-item">
                        <a href="#about">Chi Siamo</a>
                    </li>

                    <li class="list-inline-item">
                        <a href="#features">Come Iniziare</a>
                    </li>

                    <li class="list-inline-item">
                        <a href="Aggiungi_pianta.html">Le Tue Piante</a>
                    </li>

                    <li class="list-inline-item">
                        <a href="Forum.php">Forum</a>
                    </li>

                    <li class="list-inline-item">
                        <a href="Store.html">Shop</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="footer__final">
                    <p>
                        Via San Nicara 60 00199 Roma Tel: +39 0686235950 Email: planty@gmail.com</p>
                    <div class="footer__final__payment"><img src="Foto_shop/carte.png" alt=" "></div>
                </div>
            </div>
        </div>
    </footer>
    <!--Fine footer-->
    <a class="scrolltop " href="# " id="myTop "><span class="fa fa-angle-up " onclick="topFunction() "></span></a>
    <script src="lib/main.js"></script>
    <script type="text/javascript" lang="javascript" src="lib/waypoints/waypoints.min.js"></script>
    <script type="text/javascript" lang="javascript" src="lib/carrello.js"></script>
</body>

</html>