<!DOCTYPE html>

<head>
    <title>Planty Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Foto/favicon.ico">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!--Vue per il carrello-->
    <script type="text/javascript" lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <!-- Css -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" type="text/css">
    <!--Per le icone-->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" type="text/css">
    <!--Per le card del carosello-->
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/Style.css" type="text/css">
    <link rel="stylesheet" href="css/store.css" type="text/css">


</head>

<body>
    <div id="app">
        <!--Inizio header menu-->
        <header class="header clearfix cd-main-header">
            <a href="" class="header__logo"><img src="Foto/Titolo_b.gif" width="300" height="110"></a>

            <nav class="cd-main-nav shop">

                <a href="" class="header__icon-bar">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <!--serve se vogliamo fare la versione mobile introducendo le tre linee per aprire menu-->
                <ul class="header__menu animate cd-main-nav__list delete-space shop">
                    <li class="header__menu__item"><a href="index.php">Home</a></li>
                    <li class="header__menu__item"><a href="index.php#about">Chi siamo</a></li>
                    <li class="header__menu__item"><a href="index.php#features">Come Iniziare</a></li>
                    <li class="header__menu__item"><a href="Le_Tue_Piante.php">Le Tue Piante</a></li>
                    <li class="header__menu__item"><a href="Forum.php">Forum</a></li>
                    <li class="header__menu__item"><a href="Store.html">Shop</a></li>
                    <li class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"><span id="cuore">0</span></i></a></li>
                            <li><a href="#" id="cart"><i class="fa fa-shopping-basket"></i> <span>{{count}}</span></a></li>
                        </ul>
                        <div class="header__cart__price">Saldo: <span>{{total()}}€</span></div>
                    </li>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Fine Header menu -->


        <!--Carrello-->
        <div class="container">
            <div class="row ">
                <!--large-->
                <div class="col-lg-9 ">
                    <div class="hero__item set-bg" data-setbg="Foto_shop/banner.jpg">
                        <div class="hero__text">
                            <span>100% naturale</span>
                            <h2>Inizia <br />coltivando</h2>
                            <p>Spedizione gratuita oltre i 20€</p>
                            <a href="#tutti" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">

                    <div class="shopping-cart">
                        <div class="shopping-cart-header">
                            <i class="fa fa-shopping-basket cart-icon"></i><span class="badge">{{count}}</span>
                            <div class="shopping-cart-total">
                                <span class="lighter-text">Saldo:</span>
                                <span class="main-color-text" v-if="total()">{{total()}}€</span>
                            </div>
                        </div>

                        <div id="cart">
                            <buyitem v-for="buyitem in buyitems" v-bind:buy_data="buyitem"></buyitem>
                        </div>

                        <!--fine header carrello -->
                        <a href="chekout.html" class="button" id="cart">Checkout</a>
                    </div>
                </div>
            </div>
        </div>

        <!--fine carrello -->

        <!-- I più venduti-->

        <section class="categories">
            <div class="container">
                <div class="section-title">
                    <h2>I Più Acquistati</h2>
                </div>

                <div class="row">
                    <div class="categories__slider owl-carousel">
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="Foto_shop/piu_venduti/banana_mod.jpg">
                                <h5><a href="#" name="tutti">Banano</a></h5>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="Foto_shop/piu_venduti/avocado_mod.jpg">
                                <h5><a href="#">Avocado</a></h5>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="Foto_shop/piu_venduti/guanti_mod.jpg">
                                <h5><a href="#">Guanti</a></h5>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="Foto_shop/piu_venduti/carota_mod.jpg">
                                <h5>
                                    <a href="#">Carota</a>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="Foto_shop/piu_venduti/vaso_plastica.jpg">
                                <h5><a href="#">Vasi</a></h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!-- fine i più venduti -->

        <!-- Inizio vendite -->

        <section class="featured padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>I Nostri Prodotti</h2>
                        </div>
                        <div class="categorie">
                            <ul>
                                <li class="active" data-filter="*">Tutto</li>
                                <li data-filter=".pianta">Piante</li>
                                <li data-filter=".vaso">Vasi</li>
                                <li data-filter=".utile">Utili</li>
                                <li data-filter=".altro">Altro</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row venduti">

                    <item v-for="item in items" v-bind:item_data="item"></item>

                </div>
            </div>
        </section>
    </div>
    <!--Fine vendite-->

    <!-- Prodotti -->
    <template id="product-box">
            <!--<div class="box">-->
            <div class="col-lg-3 col-md-4 col-sm-6 mix" v-bind:class="{vaso: item_data.vaso , pianta: item_data.pianta , utile: item_data.utile , altro: item_data.altro}" >
                <div class="featured__item ">
                    <div  class="featured__item__pic set-bg " :style="item_data.foto_dim">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#" onclick="aggiungiCuori(this)" ><i class="fa fa-heart "></i></a></li>
                            <li><a href="#" v-on:click="addItem(item_data)"><i class="fa fa-shopping-basket"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text ">
                        <h6><a href="# ">{{item_data.title}}</a></h6>
                        <h5>{{item_data.price}}€</h5>
                    </div>
                </div> 
            </div>
    </template>

    <!--Carrello-->
    <template id="buy-box">
        <div class="row">
          <img :src="buy_data.img"/>
          <h4>{{buy_data.title}}</h4>
          <p>{{buy_data.price}}€</p>
          <div class="qty-minus" v-on:click="minusQty(buy_data)">-</div>
          <div class="qty">{{buy_data.qty}}</div>
          <div class="qty-plus" v-on:click="plusQty(buy_data)">+</div>
          <div class="del" v-on:click="removeItem(buy_data)">Remove</div>
          <div class="totalprice">{{buy_data.total}}€</div>
        </div>
    </template>


    <!-- Banner  -->
    <div class="banner ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <div class="banner__pic ">
                        <img src="Foto_shop/pubblicita/banner-2_mio.jpg" alt=" ">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <div class="banner__pic ">
                        <img src="Foto_shop/pubblicita/banner-22.jpg " alt=" ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner -->

    <!-- Inzio form contatti-->
    <div class="contatti-form padding ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 ">
                    <div class="contatti__form__title ">
                        <h2>Ti Servono Informazioni?</h2>
                        <h3>Contattaci</h3>
                    </div>
                </div>
            </div>
            <form action="# ">

                <div class="row ">
                    <div class="col-lg-6 col-md-6 ">
                        <input type="text " placeholder="Nome ">
                    </div>
                    <div class="col-lg-6 col-md-6 ">
                        <input type="text " placeholder="La Tua Email ">
                    </div>
                    <div class="col-lg-12 text-center ">
                        <textarea placeholder="Il Tuo Messaggio "></textarea>
                        <button type="submit " class="invia-form-contatti">INVIA</button>
                    </div>

                </div>
            </form>
        </div>
        </form>
    </div>
    </div>
    <!-- Fine form contatti -->

    <!--Footer-->
    <footer class="footer ">
        <div class="row ">
            <div class="col-lg-6 col-xs-12 text-lg-left text-center ">
                <p class="end-text ">
                    “To plant a garden is to believe in tomorrow.” H.A.
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 text-lg-right text-center ">
                <ul class="list-inline ">
                    <li class="list-inline-item ">
                        <a href="index.php">Home</a>
                    </li>

                    <li class="list-inline-item ">
                        <a href="index.php#about ">Chi Siamo</a>
                    </li>

                    <li class="list-inline-item ">
                        <a href="index.php#features ">Come Iniziare</a>
                    </li>

                    <li class="list-inline-item ">
                        <a href="Le_Tue_Piante.php">Le Tue Piante</a>
                    </li>

                    <li class="list-inline-item ">
                        <a href="Forum.php">Forum</a>
                    </li>

                    <li class="list-inline-item ">
                        <a href="Store.html">Shop</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="footer__copyright ">
                    <p>
                        Via San Nicara 60 00199 Roma Tel: +39 0686235950 Email: planty@gmail.com</p>
                    <div class="footer__copyright__payment "><img src="Foto_shop/carte.png " alt=" "></div>
                </div>
            </div>
        </div>
    </footer>
    <!--Fine footer-->

    <a class="scrolltop " href="# " id="myTop"><span class="fa fa-angle-up " ></span></a>

    <!--Ci settiamo i background delle immagini vedi  file js selezioniamo gli elementi, li mixiamo-->
    <script type="text/javascript" lang="javascript" src="lib/jquery/jquery.min.js "></script>
    <script type="text/javascript" lang="javascript" src="lib/owl.carousel.min.js"></script>

    <script type="text/javascript" lang="javascript" src="lib/counterup/counterup.min.js"></script>
    <script type="text/javascript" lang="javascript" src="lib/mixitup.min.js "></script>
    <!--<script type="text/javascript" lang="javascript" src="lib/owl.carousel.min.js"></script>-->
    <script type="text/javascript" lang="javascript" src="lib/waypoints/waypoints.min.js"></script>
    <script type="text/javascript" lang="javascript" src="lib/custom.js"></script>
    <script type="text/javascript" lang="javascript" src="lib/main_store.js"></script>
    <!--Per il carrello-->
    <script type="text/javascript" lang="javascript" src="lib/carrello.js"></script>
</body>

</html>