html,
body {
    height: 100%;
    max-width: 100%;
}

.cd-main-header {
    position: relative;
    z-index: 1;
    height: 80px;
    background: rgb(115, 184, 25);
}

*,
::after,
::before {
    box-sizing: border-box
}

h1 {
    text-align: center;
    color: red;
    /* #e74c3c;*/
    padding-bottom: 0.2em;
}

form {
    max-width: 600px;
    text-align: center;
    padding-top: 10px;
    margin: 80px auto;
}

form input,
form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    display: block;
    width: 100%;
    margin-bottom: 1em;
    resize: none;
    border-radius: 50px;
}

form #input-submit {
    color: white;
    background: red;
    /* #e74c3c;*/
    cursor: pointer;
}

form textarea {
    height: 380px;
    border-radius: 0%;
}

.carta_di_identità {
    border: 5px solid rgba(148, 4, 4, 0.931);
    /*rgba(167, 9, 9, 0.877)*/
    width: 75%;
    height: auto;
    margin-left: 13.5%;
    margin-right: 20%;
    border-radius: 50px;
    box-shadow: 0 0.20rem 1rem rgba(0, 0, 0);
    margin-bottom: 3em;
}

.card_image {
    transform: translateX(-2em);
}

@media(max-width:768px) {
    .card_image {
        transform: translateX(-10em);
    }
}

.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

.right {
    width: 50%;
}

.left {
    margin-right: 2%;
}

@media (max-width: 480px) {
    /* Clearfix */
    .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }
}

.cf:before,
.cf:after {
    /* 1 */
    content: " ";
    /* 2 */
    display: table;
}

.cf:after {
    clear: both;
}

.card {
    background-color: transparent;
    border: none;
    margin-left: 23em;
    margin-bottom: 2em;
    padding-top: 2em;
    /*padding-bottom: 1em;*/
}


/*ELENCO PUNTATO*/

.number-circle-list {
    list-style: none;
    counter-reset: circle-counter;
    padding: 3%;
}

.number-circle-list--list-item {
    counter-increment: circle-counter;
    margin-bottom: 0.65rem;
}

.number-circle-list--list-item:before {
    content: counter(circle-counter);
    background-color: red;
    /* #e74c3c;*/
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    text-align: center;
    margin-right: 0.5rem;
    position: relative;
    top: -2px;
}

.row {
    /*per aggiustare parte della scalatura*/
    /*margin-right: 15px;*/
}


/*-----------------
Linea temporale
-----------------*/


/*il before inserisce un altro elemento alla lista identificata dal selettore*/


/*l'after inserisce un elemento a chiudere il contenuto dell’elemento individuato dal selettore*/


/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%23c00' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E");
 url precedente definisce l'aspetto del singolo puntino*/

.timeline {
    /*container di tutta la linea temporale*/
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.timeline::after {
    /*definisce la linea della linea temporale*/
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    background: red;
    left: 50%;
    margin-left: -3px;
    height: 100%;
    z-index: 5;
}


/*contenitore del quadrato*/

.container.time {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.container.time::after {
    /*definisce il pallino sulla linea*/
    content: '';
    position: absolute;
    top: 15px;
    width: 25px;
    right: -17px;
    height: 25px;
    background: red;
    border-radius: 50%;
    border: 4px solid #ff9f55;
    z-index: 6;
}


/*Container ha sia il puntino che la vignetta*/

.container.time.left {
    /*fa spostare sia il puntino che il content (content che si trova a sinistra della linea)*/
    right: 48.35%;
}

.container.time.right {
    /*fa spostare sia il puntino che il content (content che si trova a destra della linea)*/
    left: 25.36%;
}

.right::after {
    /*serve per far spostare il pallino dei content che sono a destra della linea*/
    left: -16px;
}

.left::before {
    /*definisce la punta del content a sinistra della linea (la punta del fumetto che punta al pallino)*/
    content: '';
    height: 0px;
    width: 0px;
    position: absolute;
    top: 22px;
    right: 30px;
    border: 10px solid #fff;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
}

.right::before {
    /*definisce la punta del content a destra della linea (la punta del fumetto che punta al pallino)*/
    content: '';
    height: 0px;
    width: 0px;
    position: absolute;
    top: 22px;
    left: 30px;
    border: 10px solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
}


/*Parte bianca*/

.content {
    padding: 20px 30px;
    background: #fff;
    border-radius: 6px;
}


/* Ridimensionamento foto*/

.flex {
    max-width: 100%;
    transform: translateX(10px);
}


/* Mobile version */

@media screen and (max-width: 600px) {
    /*.timeline::after {
        left: 31px;
    }*/
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /*.container::before {
        left: 60px;
        border-width: 10px 10px 10px 0;
        border-color: transparent #fff transparent transparent;
    }*/
    /*.left::after,
    .right::after {
        left: 15px;
        z-index: 1;
    }*/
    .right {
        left: 0;
    }
}

.back_piante {
    background-image: url('Foto/aggiungi_pianta_last.jpg');
    background-size: cover;
}

.back_piante h2 {
    font-weight: 800;
    padding-top: 4%;
}

.color-ananas {
    background: #8dc27e;
}

.color-carota {
    background: #8ccac7;
}

.color-cipolla {
    background: #e89c9e;
}

.color-avocado {
    background: #ea9262;
}

.color-pomodoro {
    background: #b4d17e;
}

.color-banana {
    background: #e89fc0;
}

.color-patata {
    background: #9c88b9;
}

.color-lattuga {
    background: #fff37e;
}

.col h1 {
    color: red;
}

.scritta {
    font-family: 'Indie Flower', cursive;
    color: rgb(0, 0, 0);
    font-size: 20px;
}