#picture {
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    margin-left: 160px;
    position: absolute;
}

#picture-1,
#picture-2 {
    width: 80px;
    height: 100px;
}

#picture-1,
#picture-2,
#picture-3 {
    border: 5px solid #3F3F4B;
    position: relative;
}

#picture-1,
#picture-3 {
    margin-left: -110%;
    left: 267%;
}

#picture-1 {
    /*http://jackiezen.com/Office/Foto/balloon.jpg*/
    background: url(../Foto/Quadretti/Banana_quadretto.jpg) center no-repeat;
    background-color: rgb(233, 159, 192);
    background-size: 60px 80px;
}

#picture-2 {
    background: url(../Foto/Quadretti/Lattuga_quadretto.jpg) center no-repeat;
    background-size: 60px 80px;
    background-color: rgb(254, 243, 127);
    left: 25%;
    /*153%*/
    top: 49%;
    /*margin-top: -50px;
    margin-left: 69%;*/
}

#picture-3 {
    /*http://jackiezen.com/Office/Foto/cat.jpg*/
    background: url(../Foto/Quadretti/Pomodoro_quadretto.jpg) center no-repeat;
    background-size: 80px 60px;
    background-color: rgb(180, 209, 125);
    width: 100px;
    height: 80px;
    margin-top: -50px;
}

#picture-1:hover {
    -webkit-animation: picture-1 1s linear forwards;
    animation: picture-1 1s linear forwards;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    cursor: pointer;
}

@-webkit-keyframes picture-1 {
    /*webkit=trasform per chrome e safari*/
    20% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
    70% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    80% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes picture-1 {
    /*strato cornici*/
    20% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
    70% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    80% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

#picture-2:hover {
    -webkit-animation: picture-2 0.5s linear forwards;
    animation: picture-2 0.5s linear forwards;
    cursor: pointer;
}

@-webkit-keyframes picture-2 {
    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes picture-2 {
    /*strato cornici*/
    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

#picture-3:hover {
    -webkit-animation: picture-3 0.5s linear forwards;
    animation: picture-3 0.5s linear forwards;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    cursor: pointer;
}

@-webkit-keyframes picture-3 {
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes picture-3 {
    /*strato cornici*/
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@media(max-width:1040px) {
    #picture-1,
    #picture-3 {
        margin-left: -110%;
        left: 120%;
    }
    #picture-2 {
        left: -120%;
    }
}