       * {
           font-size: 0.85rem;
       }
       
       body {
           background-color: #fdb580;
           font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
       }
       
       a {
           display: inline-block;
           color: inherit;
           text-decoration: none;
           font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
       }
       
       p {
           font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
       }
       
       .row.mt {
           margin-top: 1.25em;
       }
       
       .row.mb {
           margin-bottom: 1.25em;
       }
       
       .pad {
           padding: 15px;
       }
       
       .spad {
           padding: 5px;
       }
       
       .lpad {
           padding: 20px;
       }
       
       .ar {
           text-align: right;
       }
       
       .divisione {
           border-bottom: 5px solid hsla(0, 0%, 90%, .3);
           font-size: 13px;
           font-weight: 300;
           padding: 20px;
           margin-bottom: 42px;
       }
       /*Modifiche per accedi e registrati*/
       
       .form__input {
           border-radius: 5em !important;
           /*!important stabilisce questa assegnazione come più importante delle altre*/
           height: auto !important;
           line-height: inherit !important;
           font-family: inherit !important;
           font-size: 100% !important;
       }
       
       .form__label {
           font: inherit;
           color: #999;
       }
       /*Non lo usiamo ma per ora teniamolo*/
       
       a.underline:hover:after {
           content: '';
           display: block;
           width: inherit;
           height: 2px;
           background-color: rgb(226, 91, 19);
           margin-bottom: -2px;
           animation: link .9s ease;
       }
       
       @keyframes link {
           from {
               width: 0;
           }
           to {
               width: 100%;
           }
       }
       /* Topic */
       
       .rounded {
           overflow: hidden;
       }
       
       .rounded.top {
           border-radius: 4px 4px 0 0;
       }
       
       .rounded.all {
           border-radius: 4px;
       }
       
       .forum-category {
           background-color: rgb(226, 91, 19);
           color: hsl(0, 0%, 100%);
           font-weight: 600;
           font-size: 13px;
           text-shadow: 0 1px 1px rgb(226, 91, 19);
       }
       
       .forum-head>.column {
           background-color: hsl(206, 35%, 13%);
           border-right: 1px solid hsl(212, 35%, 15%);
           border-left: 1px solid hsl(212, 28%, 12%);
           color: hsl(0, 0%, 100%);
           font-weight: 300;
           font-size: 12px;
           text-shadow: 0 1px 1px hsl(0, 0%, 0%);
           text-align: center;
           height: 10%;
           width: 13%;
       }
       
       .forum-head>.column:first-child {
           text-align: left;
           border-left: none;
           height: 10%;
           width: 61%;
       }
       
       .forum-head>.column:last-child {
           border-right: none;
       }
       
       .forum-topic>.column {
           min-height: 110px;
           /*85px;*/
           max-height: 110px;
           /*85px;*/
           background-color: hsl(0, 0%, 96%);
           border-bottom: 1px solid hsl(0, 0%, 90%);
           color: hsl(0, 0%, 50%);
           font-size: 12px;
           height: 20%;
           width: 13%;
       }
       
       .forum-topic>.column:first-child {
           color: hsl(0, 0%, 60%);
           font-size: 30px;
           text-align: center;
           height: 10%;
           width: 12%;
       }
       
       .forum-topic>.column:nth-child(2) {
           height: 10%;
           width: 49%;
       }
       
       .forum-topic>.column:d {
           color: hsl(0, 0%, 60%);
           font-size: 30px;
           text-align: center;
           height: 10%;
           width: 12%;
       }
       
       .forum-topic>.column:nth-child(n+3) {
           text-align: center;
       }
       
       .forum-topic>.column:last-child {
           text-align: left;
       }
       
       .forum-topic>.edita-column {
           min-height: 85px;
           max-height: 85px;
           background-color: hsl(0, 0%, 96%);
           border-bottom: 1px solid hsl(0, 0%, 90%);
           color: hsl(0, 0%, 50%);
           font-size: 12px;
       }
       
       .forum-topic>.edita-column:first-child {
           color: hsl(0, 0%, 60%);
           font-size: 30px;
           text-align: center;
       }
       
       .forum-topic>.edita-column:nth-child(n+3) {
           text-align: center;
       }
       
       .forum-topic>.edita-column:last-child {
           text-align: left;
       }
       
       .forum-topic a {
           transition: color .5s;
           color: rgb(226, 91, 19);
           font-weight: 600;
       }
       
       .forum-topic a:hover {
           color: rgb(226, 91, 19);
       }
       
       .forum-topic span {
           display: block;
           margin: 0 0 2px 0;
       }
       
       .elem-forum {
           white-space: nowrap;
           /*overflow: hidden;*/
           text-overflow: ellipsis;
       }
       
       .forum-topic .column:nth-child(2) span.elem-forum {
           width: 70%;
           height: 100%;
       }
       
       .forum-topic span.center {
           padding-top: 10px;
       }
       
       .normal {
           background-color: hsl(0, 0%, 96%);
           color: hsl(0, 0%, 50%);
           font-size: 12px;
       }
       
       .normal h1.inset {
           background-color: hsl(206, 35%, 13%);
           margin: -20px -20px 20px -20px;
           color: hsl(0, 0%, 100%);
           padding: 15px 20px 15px 20px;
           font-size: 12px;
           font-weight: 300;
       }
       
       .normal p {
           margin: 0 0 40px 0;
           line-height: 20px;
       }
       
       .normal p:last-child {
           margin: 0;
       }
       
       .icon-collapse-top {
           color: white;
       }
       
       .padding_footer {
           padding-bottom: 21.5em;
       }
       /*
.btn_send {
    background-color: rgb(226, 91, 19);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 10;
    color: #fff;
   padding: 15px 45px;

border-radius: 50px;
border: none;

}

/*Se ci passi sopra lo mette ad arancione
    potremmo farlo anche in java perchè il prof l'ha spiegato, che dici?

.btn_send:hover {
    background-color: rgb(115, 184, 25);
    color: #fff;
}

.btn_send:active {
    border: none;
    border-color: rgb(115, 184, 25);
}*/
       
       .btn_send {
           display: inline-block;
           /*padding: 15px 25px;*/
           font-size: 0.875rem;
           margin-top: -2em;
           cursor: pointer;
           text-align: center;
           text-decoration: none;
           outline: none;
           color: #fff;
           background-color: rgb(226, 91, 19);
           border: none;
           border-radius: 15px;
           /*box-shadow: 0 4px #666;*/
           float: right;
       }
       
       @media(max-width:870px) {
           .btn_send {
               transform: translateX(2em);
           }
       }
       
       .btn_send:hover {
           background-color: rgb(115, 184, 25);
       }
       
       .btn_send:active {
           background-color: rgb(115, 184, 25);
       }
       
       input[type="textarea"],
       input[type="text"] {
           border: 1px solid #d2d8d8;
           -webkit-appearance: none;
           -webkit-border-radius: 0;
           border-radius: 0;
           background-color: white;
           font-family: inherit;
           width: 100%;
           color: rgba(0, 0, 0, 0.75);
           /*display: block;*/
           font-size: 0.875rem;
           height: 1.2rem;
           padding: 0;
           border-radius: 5em;
           padding: 12px 20px 12px 27px;
           margin: 0.4em;
           border-radius: 5em;
           -moz-box-sizing: border-box;
           -webkit-box-sizing: border-box;
           box-sizing: border-box;
           width: 80%;
           -moz-appearance: none;
           outline: none;
           -webkit-box-shadow: none;
           -moz-box-shadow: none;
           box-shadow: none;
       }
       
       .padd_freccia {
           /*padding-top: 0.23em;*/
           font-size: 30px;
       }
       
       .row_footer {
           display: -webkit-box !important;
           display: -ms-flexbox !important;
           display: flex !important;
           -ms-flex-wrap: wrap !important;
           flex-wrap: wrap !important;
           margin-right: -15px !important;
           margin-left: -15px !important;
       }
       
       .col-lg-6 {
           -webkit-box-flex: 0;
           -ms-flex: 0 0 50%;
           flex: 0 0 50%;
           max-width: 50%;
       }
       
       input[type="textarea"]:focus {
           -webkit-box-shadow: 0 0 5px #999999;
           -moz-box-shadow: 0 0 5px #999999;
           box-shadow: 0 0 5px #999999;
           border-color: #999999;
       }