html,
body {
    height: 100%;
}

body {
    background-color: antiquewhite;
}

.block {
    height: 770px;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 85px;
    background-color: rgb(253, 253, 253);
}

@media only screen and (min-width: 1131px) {
    .cd-main-nav__list {
        /* reset style */
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(22px);
        line-height: 0px;
    }
}

.block p.color_green {
    color: rgb(115, 184, 25);
}

.blocco {
    color: #343642;
    padding: 150px 0;
    color: #fff;
    width: 50px;
    height: 100px;
    border-radius: 60%;
    /*display: flex;*/
}

.color-ananas {
    background: #8dc27e;
}

.color-carota {
    background: #8ccac7;
}

.color-cipolla {
    background: #e89c9e;
}

.color-avocado {
    background: #ea9262;
}

.color-pomodoro {
    background: #b4d17e;
}

.color-banana {
    background: #e89fc0;
}

.color-patata {
    background: #9c88b9;
}

.color-lattuga {
    background: #fff37e;
}

.color-bianco-antico {
    background-color: antiquewhite;
}

div.foto_piante {
    display: table;
    background-image: url(../Foto/aggiungi_pianta.jpg);
    background-size: cover;
    position: relative;
    background-size: cover;
    background-position-y: -4em;
    padding: 150px 0;
    color: #fff;
    width: 100%;
    height: 100vh;
}

.foto_piante h1 {
    color: rgb(226, 91, 19);
    font-size: 50px;
    transform: translate(0em, -3.5em);
}

.foto_piante h2 {
    color: rgb(115, 184, 25);
    font-size: 25px;
    transform: translate(-0.3em, -7em);
}

.frutti {
    /* per problema bottone attaccato alle piante*/
    margin-bottom: 5%;
}


/*fumetto*/

.bubble {
    position: relative;
    /*font-family: sans-serif;*/
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    line-height: 24px;
    width: 672px;
    height: 170px;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
}

.bubble-bottom-left_carota:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #8ccac7;
    border-right: 12px solid transparent;
    border-top: 12px solid #8ccac7;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

.bubble-bottom-left_cipolla:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #e89c9e;
    border-right: 12px solid transparent;
    border-top: 12px solid #e89c9e;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

.bubble-bottom-left_banana:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #e89fc0;
    border-right: 12px solid transparent;
    border-top: 12px solid #e89fc0;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

.bubble-bottom-left_ananas:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #8dc27e;
    border-right: 12px solid transparent;
    border-top: 12px solid #8dc27e;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

.bubble-bottom-left_patata:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #9c88b9;
    border-right: 12px solid transparent;
    border-top: 12px solid #9c88b9;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

.bubble-bottom-left_avocado:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #ea9262;
    border-right: 12px solid transparent;
    border-top: 12px solid #ea9262;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

.bubble-bottom-left_pomodoro:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #b4d17e;
    border-right: 12px solid transparent;
    border-top: 12px solid #b4d17e;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

.bubble-bottom-left_lattuga:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff37e;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff37e;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}


/*Margine per il fumetto*/


/* ==================================================
  Bottone aggiungi piante
  ================================================== */

.btn_p {
    background-color: rgb(115, 184, 25);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: #fff;
    padding: 15px 45px;
    border-radius: 50px;
}


/*Se ci passi sopra lo mette ad arancione
    potremmo farlo anche in java perchè il prof l'ha spiegato, che dici?*/

.btn_p:hover {
    background-color: rgb(226, 91, 19);
    color: #fff;
}


/*Toglie il testo sottolineato al bottone*/

a:hover {
    text-decoration: none !important;
}

.divider {
    height: auto;
    display: inline-block;
    padding-top: 43px;
    padding-bottom: 57px;
}


/*---------------------------------
Card-Modifiche per pag le_tue_piante
-----------------------------------*/

.card {
    background-color: antiquewhite;
    border: antiquewhite
}