body {
    background-color: #fdb580;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Cairo", sans-serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #ffffff;
}

ul,
ol {
    padding: 0;
    margin: 0;
}


/*section title sono i più acquistati e i nostri prodotti i titoli delle section*/

.section-title {
    margin-bottom: 50px;
    text-align: center;
    margin-top: 50px;
}

.section-title h2 {
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
}

.section-title h2:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background: #7fad39;
    content: "";
    margin: 0 auto;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}


/*è il padding sempre dei titoli sopra*/

.padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
    color: #fff;
}


/*Bottone nella foto in alto che ti riporta giù alla sezione cose da comprare */

.primary-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
}


/*bottone form*/

.invia-form-contatti {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 30px 12px;
    background: #7fad39;
    border: none;
}


/*---------------------
  Header
-----------------------*/


/*non togliere servono per il bucket e il cuore del menu*/

@media (min-width: 992px) {
    .col-lg-9 {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 769px) {
    .cd-main-nav.shop {
        height: 80px;
    }
    .cd-main-nav__list.delete-space.shop {
        line-height: 35px;
    }
}

.header__cart {
    text-align: right;
    padding: 24px 0;
}

@media(max-width:1131px) {
    .header__cart {
        padding: 24px;
    }
}

.header__cart ul {
    display: inline-block;
    margin-right: 25px;
}

.header__cart ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.header__cart ul li:last-child {
    margin-right: 0;
}

.header__cart ul li a {
    position: relative;
}

.header__cart ul li a i {
    font-size: 18px;
    color: #1c1c1c;
}

.header__cart ul li a span {
    height: 13px;
    width: 13px;
    background: #7fad39;
    font-size: 10px;
    color: #ffffff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -12px;
}

#cuore {
    /*per il numeretto sul cuore*/
    font-size: 11px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.header__cart .header__cart__price {
    font-size: 14px;
    /*color: #6f6f6f;*/
    display: inline-block;
}

.header__cart .header__cart__price span {
    color: #252525;
    font-weight: 700;
}

.humberger__menu__wrapper {
    display: none;
}

.humberger__open {
    display: none;
}


/*---------------------
  Hero
-----------------------*/

.hero__item {
    height: 431px;
    display: flex;
    align-items: center;
    padding-left: 75px;
}

.hero__text span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: #7fad39;
}

.hero__text h2 {
    font-size: 46px;
    color: #252525;
    line-height: 52px;
    font-weight: 700;
    margin: 10px 0;
}

.hero__text p {
    margin-bottom: 35px;
}

@media (max-width:1131px) {
    .hero__item {
        transform: translateX(-5em);
    }
}


/*---------------------
  Categories sono quelle nel carousel
-----------------------*/

.categories {
    padding-bottom: 2%;
}

.categories__item {
    height: 270px;
    position: relative;
    border: aliceblue 10px solid;
}

.categories__item h5 {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 20px;
    bottom: 20px;
    text-align: center;
}

.categories__item h5 a {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 0 10px;
    background: #ffffff;
    display: block;
}

.categories__slider .col-lg-3 {
    max-width: 100%;
}

.categories__slider.owl-carousel .owl-nav button {
    font-size: 18px;
    color: #1c1c1c;
    height: 70px;
    width: 30px;
    line-height: 70px;
    text-align: center;
    border: 1px solid #ebebeb;
    position: absolute;
    left: -35px;
    top: 50%;
    -webkit-transform: translateY(-35px);
    background: #ffffff;
}

.categories__slider.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: -35px;
}


/*---------------------
  Featured elementi in vendita
-----------------------*/

.featured {
    padding-top: 80px;
    padding-bottom: 40px;
}

.categorie {
    text-align: center;
    margin-bottom: 50px;
}

.categorie ul li {
    list-style: none;
    font-size: 18px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}

.categorie ul li.active:after {
    opacity: 1;
}

.categorie ul li:after {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #7fad39;
    content: "";
    opacity: 0;
}

.categorie ul li:last-child {
    margin-right: 0;
}

.featured__item {
    margin-bottom: 50px;
}

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
    bottom: 20px;
}

.featured__item__pic {
    height: 270px;
    position: relative;
    overflow: hidden;
    background-position: center center;
}

.featured__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.featured__item__pic__hover li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
}

.featured__item__pic__hover li:last-child {
    margin-right: 0;
}

.featured__item__pic__hover li:hover a {
    background: #7fad39;
    border-color: #7fad39;
}

.featured__item__pic__hover li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);
}

.featured__item__pic__hover li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.featured__item__pic__hover li a i {
    position: relative;
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.featured__item__text {
    text-align: center;
    padding-top: 15px;
}

.featured__item__text h6 {
    margin-bottom: 10px;
}

.featured__item__text h6 a {
    color: #252525;
}

.featured__item__text h5 {
    color: #252525;
    font-weight: 700;
}


/*---------------------
  Checkout
-----------------------*/

.checkout {
    padding-top: 80px;
    padding-bottom: 60px;
}

.checkout h6 {
    color: #999999;
    text-align: center;
    background: #f5f5f5;
    border-top: 1px solid #6AB963;
    padding: 12px 0 12px;
    margin-bottom: 75px;
}

.checkout h6 span {
    font-size: 16px;
    color: #6AB963;
    margin-right: 5px;
}

.checkout h6 a {
    text-decoration: underline;
    color: #999999;
}

.checkout__form h4 {
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.checkout__form p {
    column-rule: #b2b2b2;
}

.checkout__input {
    margin-bottom: 24px;
}

.checkout__input p {
    color: #1c1c1c;
    margin-bottom: 20px;
}

.checkout__input p span {
    color: #dd2222;
}

.checkout__input input {
    width: 100%;
    height: 46px;
    border: 1px solid #ebebeb;
    padding-left: 20px;
    font-size: 16px;
    color: #b2b2b2;
    border-radius: 4px;
}

.checkout__input input.checkout__input__add {
    margin-bottom: 20px;
}

.checkout__input input::placeholder {
    color: #b2b2b2;
}

.checkout__input__checkbox {
    margin-bottom: 10px;
}

.checkout__input__checkbox label {
    position: relative;
    font-size: 16px;
    color: #1c1c1c;
    padding-left: 40px;
    cursor: pointer;
}

.checkout__input__checkbox label input {
    position: absolute;
    visibility: hidden;
}

.checkout__input__checkbox label input:checked~.checkmark {
    background: #7fad39;
    border-color: #7fad39;
}

.checkout__input__checkbox label input:checked~.checkmark:after {
    opacity: 1;
}

.checkout__input__checkbox label .checkmark {
    position: absolute;
    left: 0;
    top: 4px;
    height: 16px;
    width: 14px;
    border: 1px solid #a6a6a6;
    content: "";
    border-radius: 4px;
}

.checkout__input__checkbox label .checkmark:after {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 10px;
    height: 8px;
    border: solid white;
    border-width: 3px 3px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
    content: "";
    opacity: 0;
}

.checkout__order {
    background: #f5f5f5;
    padding: 40px;
    padding-top: 30px;
}

.checkout__order h4 {
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.checkout__order .checkout__order__products {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 10px;
}

.checkout__order .checkout__order__products span {
    float: right;
}

.checkout__order ul {
    margin-bottom: 12px;
}

.checkout__order ul li {
    font-size: 16px;
    color: #6f6f6f;
    line-height: 40px;
    list-style: none;
}

.checkout__order ul li span {
    font-weight: 700;
    float: right;
}

.checkout__order .checkout__order__subtotal {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    border-top: 1px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.checkout__order .checkout__order__sped {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-top: 0px;
}

.checkout__order .checkout__order__subtotal span {
    float: right;
}

.checkout__order .checkout__order__sped span {
    float: right;
}

.checkout__order .checkout__input__checkbox label {
    padding-left: 20px;
}

.checkout__order .checkout__order__total {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.checkout__order .checkout__order__total span {
    float: right;
    color: #dd2222;
}

.checkout__order button {
    font-size: 18px;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 10px;
}


/*---------------------
 Form contatti
-----------------------*/

.contatti__form__title {
    margin-bottom: 50px;
    text-align: center;
}

.contatti__form__title h2 {
    color: #1c1c1c;
    font-weight: 700;
}

.contatti-form {
    padding-top: 80px;
    padding-bottom: 80px;
}

.contatti-form form input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #6f6f6f;
    padding-left: 20px;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}

.contatti-form form input::placeholder {
    color: #6f6f6f;
}

.contatti-form form textarea {
    width: 100%;
    height: 150px;
    font-size: 16px;
    color: #6f6f6f;
    padding-left: 20px;
    margin-bottom: 24px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding-top: 12px;
    resize: none;
}

.contatti-form form textarea::placeholder {
    color: #6f6f6f;
}

.contatti-form form button {
    font-size: 18px;
    letter-spacing: 2px;
}


/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}


/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero__categories {
        margin-bottom: 30px;
    }
    .hero__search__form {
        width: 485px;
    }
    .categories__slider.owl-carousel .owl-nav button {
        left: -20px;
    }
    .categories__slider.owl-carousel .owl-nav button.owl-next {
        right: -20px;
    }
    .filter__sort .nice-select {
        padding-left: 5px;
        padding-right: 28px;
    }
    .header .container {
        position: relative;
    }
    .header__top {
        display: none;
    }
    /*
    .header__menu {
        display: none;
    }*/
    .header__cart {
        text-align: center;
        padding: 10px 0 24px;
    }
    .over_hid {
        overflow: hidden;
    }
}


/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
    .hero__categories {
        margin-bottom: 30px;
    }
    .hero__search {
        margin-bottom: 30px;
    }
    .hero__search__form {
        width: 100%;
    }
    .hero__search__form form input {
        width: 100%;
    }
    .hero__search__form form .hero__search__categories {
        display: none;
    }
    .hero__search__phone {
        float: left;
        margin-top: 30px;
    }
    .categories__slider.owl-carousel .owl-nav {
        text-align: center;
        margin-top: 40px;
    }
    .categories__slider.owl-carousel .owl-nav button {
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: translateY(0);
    }
    .categories__slider.owl-carousel .owl-nav button.owl-next {
        right: -10px;
    }
    .header .container {
        position: relative;
    }
    .header__top {
        display: none;
    }
    /*
    .header__menu {
        display: none;
    }*/
    .header__cart {
        text-align: center;
        padding: 10px 0 24px;
    }
    .over_hid {
        overflow: hidden;
    }
}


/* Small Device = 320px */

@media only screen and (max-width: 479px) {
    .hero__search__form form .hero__search__categories {
        display: none;
    }
    .categorie ul li {
        margin-bottom: 10px;
    }
    .product__details__text ul li b {
        width: 100px;
    }
    .product__details__tab .nav-tabs li {
        margin-right: 20px;
    }
    .shoping__cart__btns {
        text-align: center;
    }
    .primary-btn.cart-btn.cart-btn-right {
        float: none;
        margin-top: 10px;
    }
    .shoping__checkout .primary-btn {
        display: block;
        text-align: center;
        padding: 10px 15px 10px;
    }
    .checkout__order {
        padding: 20px;
    }
}


/**CARRELLO**/

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.container {
    margin: auto;
    width: 80%;
}

.badge {
    background-color: #6394f8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
    margin: 20px 0;
    /*float: right;*/
    background: white;
    width: 343px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
}

@media(max-width:1131px) {
    .shopping-cart {
        transform: translateX(-4em);
    }
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}

.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
    color: #6394f8;
    margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
    color: #abb0be;
}

.shopping-cart:after {
    bottom: 100%;
    left: 84%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

@media(max-width:1131px) {
    .shopping-cart:after {
        display: none;
    }
}

.cart-icon {
    color: #515783;
    font-size: 19px;
    margin-right: 7px;
    float: left;
}

.button {
    background: #6394f8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:hover {
    background: #729ef9;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*---------------------
  banner-checkout
-----------------------*/

.banner-checkout {
    display: flex;
    align-items: center;
    padding: 45px 0 40px;
    background-color: rgb(226, 91, 19);
}

.banner-checkout__text h2 {
    font-size: 46px;
    color: #ffffff;
    font-weight: 700;
}

.banner-checkout__option a {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 20px;
    /*position: relative;*/
}

.banner-checkout__option span {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
}

#app #cart {
    margin-top: 50px;
    overflow: hidden;
}

#app #cart #head {
    width: 100%;
    border-bottom: 1px solid #bfbfbf;
    height: 40px;
    display: block;
}

#app #cart #head h3 {
    display: inline-block;
    line-height: 40px;
    margin: 0;
}

#app #cart #head #price {
    display: inline-block;
    color: #777;
    margin-left: 200px;
    line-height: 40px;
}

#app #cart #head #quantity {
    display: inline-block;
    color: #777;
    margin-left: 100px;
    line-height: 40px;
}

#app #cart #head #total {
    display: inline-block;
    color: #777;
    line-height: 40px;
    float: right;
}

#app #cart .row {
    width: 100%;
    /*border-bottom: 1px solid #bfbfbf;*/
    overflow: hidden;
    padding: 10px 0;
    display: block;
    float: left;
}

#app #cart .row img {
    height: 100px;
    float: left;
}

#app #cart .row h4 {
    float: left;
    margin: 0;
    line-height: 100px;
    margin-left: 20px;
    /*width: 100px; per scritte alcuni prodotti nel carello */
}

#app #cart .row p {
    float: left;
    margin: 0;
    width: 80px;
    line-height: 100px;
    margin-left: 35px;
    text-align: center;
}

#app #cart .row .qty-minus {
    float: left;
    width: 20px;
    line-height: 100px;
    margin-left: 60px;
    text-align: center;
    cursor: pointer;
}

#app #cart .row .qty {
    float: left;
    width: 20px;
    line-height: 100px;
    margin-left: 20px;
    text-align: center;
}

#app #cart .row .qty-plus {
    float: left;
    width: 20px;
    line-height: 100px;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
}

#app #cart .row .del {
    float: left;
    width: 80px;
    line-height: 100px;
    margin-left: 60px;
    cursor: pointer;
    text-decoration: underline;
    color: #ed277f;
}

#app #cart .row .totalprice {
    float: right;
    width: 80px;
    line-height: 100px;
    margin-left: 10px;
    text-align: right;
}

#app #cart .row .row p::before,
#app #cart .row .box p::before,
#app #cart .row .totalprice::before {
    /* content: "€";*/
}

#app #cart h5 {
    font-size: 1.2rem;
    text-align: right;
}

.vaso {
    z-index: 1;
}