html,
body {
    height: 100%;
}

a {
    color: #FFF;
}

.padding_p {
    margin-left: 37%;
    color: black;
    font-size: 1.2em;
}


/*Transizione per comparsa del menu nel caso web*/

.animate {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.header {
    background-color: rgb(115, 184, 25);
    height: 70px;
    /*border-bottom: solid black 1px;*/
}

.header__logo {
    color: #fff;
    float: left;
    display: block;
    padding: 25px;
    height: 0px;
    background-repeat: no-repeat;
    letter-spacing: 3px;
    padding: 0;
    margin-top: -26px;
    margin-left: 5px;
    max-height: 40px;
}

.header__logo img {
    display: block;
}

.u {
    float: right;
    margin: 0;
    /*margin e padding sono per far si che il logo e il menu siano sulla stessa linea*/
    padding: 0;
}

.header__menu__item {
    display: inline-block;
}

.header__menu__item a {
    color: #fff;
    display: block;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-decoration: none;
    /*per evitare che le parole siano sottolineate*/
    padding: 0px;
    margin: 5px;
    font-weight: 300;
    font-size: 15px;
    margin-right: 10px;
    outline: none;
}


/*Scurisce gli item quando ci passi con il mouse ma anche quando li clicchi*/

.header__menu__item a:hover,
.header__menu__item .menu-active>a {
    /*color: rgba(0, 0, 0, 0.75);*/
    color: rgba(255, 255, 255, 0.75)
}

.header__icon-bar {
    display: block;
    float: right;
    padding: 20px;
    display: none;
}

.header__icon-bar span {
    display: block;
    height: 3px;
    width: 20px;
    background: white;
    margin-bottom: 5px;
}

.cover {
    /*height: 80%;
    border:1px red solid;
    background-image: url("Foto/FrigoChiuso.jpg");
    background-size: cover;
    -o-background-size: cover;  /*queste due istruzioni sono per gli altri browser(opera, mozzila)
    -moz-background-size:cover;
    background-position: center;
    padding: 75px 0;
    margin-top: 30px;*/
    color: #fdb580;
    display: table;
    position: relative;
    background-image: url("Foto/FrigoChiuso.jpg");
    /*margin-right: 10cm;*/
    background-size: cover;
    /* padding: 90px 0;*/
    width: 100%;
    height: 100vh;
}

.header__menu__item.scritta {
    font-family: 'Indie Flower', cursive;
    color: rgb(0, 0, 0);
    font-size: 20px;
}


/* ==================================================
  Styling generale, headers e paragraph
================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Comfortaa";
}

p {
    line-height: 1.55;
    color: #999;
    font-size: 400;
    font-family: "Comfortaa";
}

h1 {
    margin-top: 80px;
    font-size: 62px;
}

h2 {
    color: #199EB8;
    font-size: 30px;
    margin-bottom: 70px;
}

h3 {
    font-size: 24px;
}

h4 {
    color: #999;
    font-size: 18px;
    padding-bottom: 2rem;
}

.clearfix:after {
    /*serve per pulire il float altrimenti gli elementi erano decentarti*/
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


/* feature commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* close commented backslash hack *

/* ==================================================
  Schermata intera iniziale
================================================== */

.hero {
    display: table;
    position: relative;
    background-image: url(../Foto/FrigoChiuso.jpg);
    background-size: cover;
    padding: 150px 0;
    color: #fff;
    width: 100%;
    height: 100vh;
    /* Viewport Height unità di misura introdotte dalle specifiche CSS 3 (Viewport é la dimensione della finestra del Browser)*/
}


/*E' lo strato che scurisce lo sfondo*/

.hero:after {
    content: '';
    z-index: 0;
    position: absolute;
    background: rgba(63, 62, 62, 0.65);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


/*Contenitore del testo e del bottone*/

.hero .container {
    position: relative;
    z-index: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}


/*Mette un riquadro tra il titolo e la scritta per non averli attaccati*/

.hero-brand {
    margin-bottom: 75px;
    display: inline-block;
}


/*E' la scritta sull'immagine*/

.tagline {
    font-size: 26px;
    margin: 45px 0 75px 0;
    color: #fff;
}


/* ==================================================
  Bottone iniziale
  ================================================== */

.btnn {
    background-color: rgb(115, 184, 25);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: #fff;
    padding: 15px 45px;
    border-radius: 50px;
}


/*Se ci passi sopra lo mette ad arancione
    potremmo farlo anche in java perchè il prof l'ha spiegato, che dici?*/

.btnn:hover {
    background-color: rgb(226, 91, 19);
    color: #fff;
}


/*Toglie il testo sottolineato al bottone*/

a:hover {
    text-decoration: none !important;
}


/* ==================================================
  Parallax Styling
  ================================================== */

.block {
    height: 700px;
    overflow: hidden;
    padding-top: 85px;
    padding-bottom: 85px;
    background-color: #fdb580;
}

.block.color_white {
    background-color: white;
}

.block h2 {
    color: #E04F00;
    margin-bottom: 15px;
}

.block p {
    color: white;
    margin-bottom: 45px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ==================================================
  Cards
  ================================================== */

.cards {
    width: auto;
    margin: 100px 40px;
    background-color: #fff;
    height: 1200px;
    padding-bottom: 0%;
}

.color_blue {
    color: #199EB8;
}

.color_orange {
    color: #E04F00;
}

.color_white {
    background-color: white;
}

.card {
    width: 25%;
    float: left;
}

.card_image {
    width: 90%;
    height: auto;
    border-radius: 100%;
    padding: 2%;
}

.card .caption {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    color: #fff;
    z-index: 30;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
    width: 90%;
    height: 100%;
    border-radius: 100%;
    padding: 2%;
}

.card .caption h2 {
    line-height: 2;
    padding-bottom: 6%;
}

.card .fade-caption,
.card .scale-caption {
    opacity: 0;
    width: 90%;
    height: 100%;
    text-align: center;
    padding: 15px;
}

.card:hover .fade-caption {
    opacity: 1;
}


/* Parte ridimensionamento card*/

@media(max-width:1100px) {
    .card_text {
        padding-bottom: 4%;
        line-height: initial;
        transform: translateY(-18px)
    }
    .card .caption h2 {
        line-height: 1;
    }
    .card .caption h2.particular {
        font-size: 1.5em;
    }
}

@media(max-width:840px) {
    .card .caption h2 {
        font-size: 1.5em;
    }
    .card .caption h2.particular {
        font-size: 1em;
        padding-bottom: 0px;
    }
    .card_text {
        line-height: 15px;
    }
    p.card_text.particular {
        line-height: 10px;
    }
}

@media(max-width:690px) {
    p.card_text {
        display: none
    }
    .card .caption h2 {
        line-height: 2;
        padding-bottom: 6%;
        font-size: 1em;
        transform: translateY(10px);
    }
}


/* ==================================================
  Style Contenitore Cerchi
================================================== */

.stats-row {
    margin-top: 65px;
    margin-bottom: 60px;
}

.stats-col .circle {
    display: inline-block;
    width: 160px;
    height: 160px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #999;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 55px 25px 0 25px;
    position: relative;
}

.stats-col .circle .stats-no {
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: -25px;
    right: -15px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: rgb(226, 91, 19);
    position: absolute;
    border-radius: 50%;
    font-weight: 700;
    padding-bottom: 30px;
}


/* ==================================================
  Banner
  ================================================== */

.banner {
    background: #E04F00;
    padding: 25px 0;
    height: auto;
}

.banner h2 {
    margin-bottom: 5px;
    text-align: left;
    margin-left: 10%;
}

.banner,
.banner p {
    color: #fff;
}

.banner p {
    margin-bottom: 0;
    opacity: .75;
    text-align: left;
    margin-left: 10%;
}

.btnn-ghost {
    border: 3px solid #fff;
    background-color: transparent;
    font-weight: 800;
    color: #fff;
    border-radius: 50px;
    float: right;
    margin-right: 20px;
}

.btnn-ghost:hover {
    background-color: #fff;
    color: #E04F00;
}

.banner__ {
    width: 70%;
    /*float: left;*/
    text-align: center;
}


/*---------------------
    Smarthphone
    --------------------*/

@media(max-width:1130px) {
    /*769px*/
    .header__icon-bar {
        display: block;
    }
    .header__menu {
        background-color: rgba(89, 156, 0, 0.835);
        height: 0px;
        right: 100%;
        margin-right: 0px;
        overflow: hidden;
        border-radius: 0px 0px 15px 15px;
        bottom: 40px;
    }
    .cd-main-nav__list li {
        display: block;
    }
    .header__menu__item {
        display: block;
        float: center;
        border-bottom: solid white 0.5px;
    }
    .header__menu__item.scritta {
        /*per rendere la linea meno bianca*/
        border-bottom: transparent;
    }
    .is-open {
        height: 200px;
        width: 550px;
        overflow: auto;
        transform: translateX(-86%);
        /*si può modificare imponendo postion:relative e modificando left e right*/
        border-bottom: 2px solid black;
        border-left: 2px solid black;
    }
    /*overflow farà si che scrollerà fra le varie possibilita in mobile*/
    .cd-main-nav__item.cd-main-nav__item--accedi,
    .cd-main-nav__item.cd-main-nav__item--signup {
        padding: .6em 1em;
        border-radius: 50em;
        width: 40%;
        float: left;
    }
    .cd-main-nav__item.cd-main-nav__item--accedi {
        border: 1px solid rgba(255, 255, 255, 0.6);
    }
    .cd-main-nav__item.cd-main-nav__item--signup {
        background: rgb(226, 91, 19);
    }
    #cards #card__image {
        display: inline-block;
    }
    /*.header__logo img {
        padding-bottom: 5%;
    }*/
}


/* ==================================================
  Login
  ================================================== */


/* -------------------------------- 
LOGIN

-------------------------------- */


/*Ripristina impostazioni stilistiche*/

p,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

.cd-main-header {
    position: relative;
    z-index: 1;
    height: 80px;
    background: rgb(115, 184, 25);
}

.cd-main-header::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}


/*@media only screen and (min-width: 768px) {
        .cd-main-header {
            height: 80px;
        }
    }*/

.cd-main-nav {
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 100%;
    cursor: pointer;
}


/*.cd-main-nav__list {
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}*/

.cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav__item {
    display: block;
    padding-left: 5%;
    background: rgb(115, 184, 25);
    color: #FFF;
}

@media only screen and (min-width: 1131px) {
    /*769px*/
    .cd-main-nav {
        /* reset style */
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .cd-main-nav__list {
        /* reset style */
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        line-height: 80px;
    }
    .cd-main-nav__list.delete-space {
        line-height: 50px;
    }
    .cd-main-nav__list.cd-main-nav__list--is-visible {
        /* reset style */
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 1em;
    }
    /* .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }*/
    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
        padding-top: 10%;
    }
    .cd-main-nav__item.cd-main-nav__item--accedi,
    .cd-main-nav__item.cd-main-nav__item--signup {
        padding: .6em 1em;
        border-radius: 50em;
    }
    .cd-main-nav__item.cd-main-nav__item--accedi {
        border: 1px solid rgba(255, 255, 255, 0.6);
    }
    .cd-main-nav__item.cd-main-nav__item--signup {
        background: rgb(226, 91, 19);
    }
}


/* -------------------------------- 

x sigin/signup popup 

-------------------------------- */

.form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.form.form--is-visible {
    visibility: visible;
    opacity: 1;
    z-index: 50;
    /* per evitare che il menu lo sovrasti */
}

.form__container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: white;
    margin: 10em auto 4em;
    cursor: auto;
    border-radius: em;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.form--is-visible .form__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.form__switcher:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.form__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}


/*La finestra non cliccata  scurita*/

.form__switcher li:first-child a {
    border-radius: 0.25em 0 0 0;
}

.form__switcher li:last-child a {
    border-radius: 0.25em 0 0;
}

.form__switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}

.form__switcher a.cd-selected {
    background: #FFF;
    color: #505260;
    border-color: #d76666;
}

@media only screen and (min-width: 600px) {
    .form__container {
        margin: 4em auto;
    }
    .form__switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.form__form {
    padding: 1.4em;
}

.form__fieldset {
    position: relative;
    margin: 1.4em 0;
}

.form__fieldset:first-child {
    margin-top: 0;
}

.form__fieldset:last-child {
    margin-bottom: 0;
}

label {
    padding: 0%;
}

.form__label {
    padding-top: 0px;
}

.form__input {
    margin: 0;
    padding: 0;
    border-radius: 5em;
}

.form__input.form__input--full-width {
    width: 100%;
}

.form__input.form__input--has-padding {
    padding: 12px 20px 12px 50px;
}

.form__input.form__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form__input.form__input--has-border:focus {
    border-color: #343642;
    -webkit-box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}

.form__input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: orangered;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form__input[type=submit]:hover,
.form__input[type=submit]:focus {
    background: rgb(115, 184, 25);
    outline: none;
}

.form__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 2px solid #d2d8d8;
    height: 60px;
    top: 69%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: #343642;
}

@media only screen and (min-width: 600px) {
    .form__form {
        padding: 2em;
    }
    .form__fieldset {
        margin: 2em 0;
    }
    .form__fieldset:first-child {
        margin-top: 0;
    }
    .form__fieldset:last-child {
        margin-bottom: 0;
    }
    .form__input.form__input--has-padding {
        padding: 16px 20px 16px 50px;
    }
    .form__input[type=submit] {
        padding: 16px 0;
    }
}

.form__message {
    padding: 1.4em 1.4em 0;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .form__message {
        padding: 2em 2em 0;
    }
}

.form__bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
    text-align: center;
    font-size: 1.4rem;
}

.form__bottom-message a {
    color: #FFF;
    text-decoration: underline;
}

.form__block {
    display: none;
}

.form__block.form__block--is-selected {
    display: block;
}


/* ==================================================
  Come iniziare 
  ================================================== */

.features {
    padding-bottom: 45px;
}

.features h2 {
    color: rgb(115, 184, 25);
    padding: 4%;
}

.feature-col {
    display: table;
    padding-bottom: 45px;
}

.feature-col>div>div {
    display: table-cell;
    vertical-align: middle;
}

.feature-col>div>div:last-child {
    padding-left: 20px;
}

.feature-col .feature-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
    background: rgb(115, 184, 25);
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    display: inline-block;
}

.feature-col h3 {
    color: rgb(115, 184, 25);
}

.feature-icon a {
    color: #fff;
}

.feature-icon a:hover {
    color: #fff;
}

.feature-icon:hover {
    background-color: red;
}

.pointer {
    cursor: pointer;
}

.feature-col p {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #999;
}

.cella {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    padding-top: 3%;
}

.footer {
    background-color: black;
    color: #d2d8d8;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: -25px;
    padding-right: 55px;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.list-inline {
    margin: 0;
    position: relative;
    top: 5px;
}

.list-inline a {
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin-right: 15px;
}

.list-inline a:hover {
    color: #199EB8;
}


/* ==================================================
  Bottone per risalire
  ================================================== */

.scrolltop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgb(115, 184, 25);
    color: #fff;
    text-align: center;
    font-size: 24px;
    z-index: 30;
}

.scrolltop:hover,
.scrolltop:active,
.scrolltop:focus {
    color: #fff !important;
    opacity: .75;
}


/* ==================================================
  Pagina Aggiunta pianta
   ================================================== */

.no-padding {
    padding-top: 0%;
}

.h2_mappa {
    color: #E04F00;
    font-size: 40px;
}

.p_mappa {
    color: white;
    font-size: 25px;
}

.flex {
    /*per rendere dinamica la foto della mensola*/
    max-width: 100%;
    transform: translateX(60px);
}


/* ==================================================
  Orologio
   ================================================== */

.date {
    font-size: 8px;
    width: 45px;
    height: 20px;
    background-color: #F6EEE8;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 27%;
    transform: translateX(-50%);
}

section.border-clock {
    background-color: #F6EEE8;
    width: 190px;
    height: 190px;
    border: 10px solid black;
    border-radius: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.clock {
    width: 170px;
    height: 170px;
    background-color: #FDFAF7;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

div.minutes,
div.hours,
div.seconds {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 0;
}

div.minutes {
    transition: transform 1s linear
}

div.seconds::before,
div.minutes::before,
div.hours::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: 50% 0;
    transform: translateX(-50%);
}

div.seconds::before {
    width: 3px;
    height: 80px;
    background-color: rgb(226, 91, 19);
}

div.minutes::before {
    width: 5px;
    height: 80px;
    background-color: black;
    border-radius: 3px;
}

div.hours::before {
    width: 5px;
    height: 60px;
    background-color: black;
    border-radius: 3px;
}

.cercle {
    width: 7px;
    height: 7px;
    background-color: #FDFAF7;
    border: 3px solid rgb(226, 91, 19);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width:990px) {
    section.border-clock {
        transform: translate(-27%, -30%);
    }
    section.clock {
        transform: translate(-24%, -27%);
        /*(6%,-27%)*/
    }
}


/*POST IT*/

.sticky {
    -webkit-box-shadow: #DDD 0px 1px 2px;
    position: relative;
    background-color: #F4F39E;
    border-color: #DEE184;
    color: #47576B;
    text-align: center;
    margin: 2.5em 0px;
    padding: 1.5em 1em;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    width: 250px;
    font-family: 'Indie Flower', cursive;
}

.post-it {
    display: table;
    margin: 5em auto 0;
}

.taped {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    transform: translate(-70px, 15px);
}

.sticky.taped:after {
    display: block;
    content: "";
    position: absolute;
    width: 110px;
    height: 30px;
    top: -21px;
    left: 30%;
    border: 1px solid #fff;
    background: rgba(254, 254, 254, .6);
    -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
}

@media(max-width:990px) {
    .taped {
        transform: translateX(5%);
        /*40%*/
    }
    .col-lg-4.orologio {
        /*doppia classe altrimenti dava problemi con i feature nella home
        /*per mantenere le stesse distanze fra clock, quadretti e post-it*/
        max-width: 33.33333333%;
    }
}


/*---------------------
QUADRETTI
---------------------*/


/*PICTURE 1*/

#picture {
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    margin-left: 160px;
    position: absolute;
}

#picture-1,
#picture-2 {
    width: 80px;
    height: 100px;
}

#picture-1,
#picture-2,
#picture-3 {
    border: 5px solid #3F3F4B;
    position: relative;
}

#picture-1,
#picture-3 {
    margin-left: -110%;
    left: 267%;
}

#picture-1 {
    /*http://jackiezen.com/Office/Foto/balloon.jpg*/
    background: url(../Foto/Quadretti/Banana_quadretto.jpg) center no-repeat;
    background-color: rgb(233, 159, 192);
    background-size: 60px 80px;
}

#picture-2 {
    background: url(../Foto/Quadretti/Lattuga_quadretto.jpg) center no-repeat;
    background-size: 60px 80px;
    background-color: rgb(254, 243, 127);
    left: 25%;
    /*153%*/
    top: 49%;
    /*margin-top: -50px;
    margin-left: 69%;*/
}

#picture-3 {
    /*http://jackiezen.com/Office/Foto/cat.jpg*/
    background: url(../Foto/Quadretti/Pomodoro_quadretto.jpg) center no-repeat;
    background-size: 80px 60px;
    background-color: rgb(180, 209, 125);
    width: 100px;
    height: 80px;
    margin-top: -50px;
}

#picture-1:hover {
    -webkit-animation: picture-1 1s linear forwards;
    animation: picture-1 1s linear forwards;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    cursor: pointer;
}

@-webkit-keyframes picture-1 {
    20% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
    70% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    80% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes picture-1 {
    20% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
    70% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    80% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

#picture-2:hover {
    -webkit-animation: picture-2 0.5s linear forwards;
    animation: picture-2 0.5s linear forwards;
    cursor: pointer;
}

@-webkit-keyframes picture-2 {
    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes picture-2 {
    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

#picture-3:hover {
    -webkit-animation: picture-3 0.5s linear forwards;
    animation: picture-3 0.5s linear forwards;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    cursor: pointer;
}

@-webkit-keyframes picture-3 {
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes picture-3 {
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@media(max-width:1040px) {
    #picture-1,
    #picture-3 {
        margin-left: -110%;
        left: 120%;
    }
    #picture-2 {
        left: -120%;
    }
}

.my_size {
    font-size: 0.8em;
}


/*PASSWORD*/


/* The message box is shown when the user clicks on the password field */

#message {
    display: none;
    color: #999;
    position: relative;
    margin-top: 10px;
}

#message h5 {
    color: #999;
    font-size: 0.5em;
    font: inherit;
}

#message p {
    padding: 3px 35px;
    font-size: 15px;
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    color: red;
    content: "✖";
}


/* Add a green text color and a checkmark when the requirements are right */

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    color: green;
    content: "✔";
}